In [4]:
import pandas as pd
import numpy as np
import datetime
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble  import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import mean_squared_error
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
# from dotenv import load_dotenv, find_dotenv
# load_dotenv(find_dotenv())

In [5]:
# Definindo o caminho dos dados
data_company_path = "dados/Company.csv"
data_tweet_path = "dados/Tweet.csv"
data_company_tweet_path = "dados/Company_Tweet.csv"

In [6]:
# Ler e colocar em um dataframe
data_company = pd.read_csv(data_company_path)
data_tweet = pd.read_csv(data_tweet_path)
data_company_tweet = pd.read_csv(data_company_tweet_path)

In [7]:
print(data_company_tweet.head())
print(data_company_tweet.shape)

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL
(4336445, 2)

In [8]:
print(data_company)
print(data_company.shape)

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft
(6, 2)

In [9]:
print(data_tweet.head())
print(data_tweet.shape)

             tweet_id           writer   post_date  \
0  550441509175443456  VisualStockRSRC  1420070457
1  550441672312512512      KeralaGuy77  1420070496
2  550441732014223360      DozenStocks  1420070510
3  550442977802207232     ShowDreamCar  1420070807
4  550443807834402816     i_Know_First  1420071005

                                                body  comment_num  \
0  lx21 made $10,008  on $AAPL -Check it out! htt...            0
1  Insanity of today weirdo massive selling. $aap...            0
2  S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...            0
3  $GM $TSLA: Volkswagen Pushes 2014 Record Recal...            0
4  Swing Trading: Up To 8.91% Return In 14 Days h...            0

   retweet_num  like_num
0            0         1
1            0         0
2            0         0
3            0         1
4            0         1
(3717964, 7)

In [10]:
dados_merge1 = pd.merge(data_company_tweet,data_company, on='ticker_symbol')
dados_merge1 = dados_merge1.drop(columns=['ticker_symbol'])
dados_merge1.head()

             tweet_id company_name
0  550803612197457920        apple
1  550803610825928706        apple
2  550803225113157632        apple
3  550802957370159104        apple
4  550802855129382912        apple

In [11]:
dados_tweet_company = pd.merge(dados_merge1,data_tweet,on='tweet_id')
dados_tweet_company = dados_tweet_company.drop(columns=['tweet_id'])
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1

## Ajustar os Dados

In [12]:
dados_tweet_company.post_date[0]

1420156789

In [13]:
ts_epoch = dados_tweet_company.post_date[0]
ts = datetime.datetime.fromtimestamp(ts_epoch).strftime('%Y-%m-%d %H:%M:%S')
ts

'2015-01-01 20:59:49'

In [14]:
def ajustar_tempo(row):
    ts_epoch = row['post_date']
    ts = datetime.datetime.fromtimestamp(ts_epoch).strftime('%Y-%m-%d %H:%M:%S')
    return ts  
new_date = dados_tweet_company.apply(ajustar_tempo,axis=1)
dados_tweet_company['Date'] = list(new_date)
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48

In [15]:
dados_tweet_company.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4336445 entries, 0 to 4336444
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   company_name  object
 1   writer        object
 2   post_date     int64
 3   body          object
 4   comment_num   int64
 5   retweet_num   int64
 6   like_num      int64
 7   Date          object
dtypes: int64(4), object(4)
memory usage: 297.8+ MB

In [16]:
sentenca = dados_tweet_company.body[0]
print(sentenca)

sentenca_2 = dados_tweet_company.body[100]
print(sentenca_2)

#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN $T $IGN $SPY $FB $UGAZ #sentiquant 20150101 19:00:08:298
Our Penny Stock Picks Gained Over 968% In the Past 5 Weeks! Get our next pick early: http://tinyurl.com/p46mnk2 $TRX $AAPL $GOOG

In [17]:
def replace_all(texto):
    palavras_especiais = [word for word in texto.split(' ') if word.startswith(('#','$','@'))]
    #print(palavras_especiais)
    sentenca = ' '.join(x for x in texto.split(' ') if x not in palavras_especiais)
    return sentenca

new_strings = dados_tweet_company.body.apply(replace_all)
dados_tweet_company['Processed_Tweet'] = list(new_strings)
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date,Processed_Tweet
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526

In [18]:
'https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664'

'https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664'

In [19]:
sid = SentimentIntensityAnalyzer()
sid.polarity_scores(dados_tweet_company.body[0])

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [20]:
dados_tweet_company.shape

(4336445, 9)

In [21]:
dados_tweet_company['vader_scores']  = None
dados_tweet_company['vader_scores'] = dados_tweet_company.Processed_Tweet.apply(lambda tweet : sid.polarity_scores(tweet))
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date,Processed_Tweet,vader_scores
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [22]:
# separar os valores do compound - vamos uas-lo para determinar os lbels dos tweets pos/beg
dados_tweet_company['compound']  = dados_tweet_company['vader_scores'].apply(lambda score_dict: score_dict['compound'])
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date,Processed_Tweet,vader_scores,compound
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0

In [23]:
# definindo os labels usando o compund value como referenecia
def labels(value):
    if value == 0:
        return 0
    elif value > 0:
        return 1
    elif value < 0:
        return -1
    
dados_tweet_company['label']  = dados_tweet_company['compound'].apply(lambda value: labels(value))
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date,Processed_Tweet,vader_scores,compound,label
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0

In [5]:
dados_tweet_company.label.value_counts()

NameError: name 'dados_tweet_company' is not defined

In [4]:
# separando os valores para a machine learning
dados = dados_tweet_company[['Processed_Tweet','label']]
dados.head()

NameError: name 'dados_tweet_company' is not defined

In [2]:
datasetVariables_train, datasetVariables_test, datasetTarget_train, datasetTarget_test = train_test_split(dados['Processed_Tweet'], dados['label'], test_size=0.33, random_state=42)

NameError: name 'train_test_split' is not defined

In [3]:
tokenizer = Tokenizer(oov_token='<OOV>')
tokenizer.fit_on_texts(datasetVariables_train)

word_index = tokenizer.word_index
print(len(word_index))

NameError: name 'Tokenizer' is not defined

In [41]:
# first ML model
model_v1 = RandomForestClassifier(random_state=50,criterion='gini')
model_v1.fit(datasetVariables_train,datasetTarget_train)
# model_v1 acuracy
model_v1Score = model_v1.score(datasetVariables_test,datasetTarget_test)
rmse = sqrt(mean_squared_error(datasetTarget_test, model_v1.predict(datasetVariables_test)))
print('A acurcia do mode  {} o RMSE  {} '.format(model_v1Score,rmse))
# print importances
print('variaveis importantes |{}|'.format(model_v1.feature_importances_))

ValueError: could not convert string to float: 'Made 11k on May26 1000c entry at 1.40 this morning.. out multiple levels. Holding some for eod run'