In [1]:
import pandas as pd
import numpy as np
import datetime
import nltk
from nltk import word_tokenize

In [2]:
# Definindo o caminho dos dados
data_company_path = "dados/Company.csv"
data_tweet_path = "dados/Tweet.csv"
data_company_tweet_path = "dados/Company_Tweet.csv"

In [3]:
# Ler e colocar em um dataframe
data_company = pd.read_csv(data_company_path)
data_tweet = pd.read_csv(data_tweet_path)
data_company_tweet = pd.read_csv(data_company_tweet_path)

In [4]:
print(data_company_tweet.head())
print(data_company_tweet.shape)

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL
(4336445, 2)

In [5]:
print(data_company)
print(data_company.shape)

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft
(6, 2)

In [6]:
print(data_tweet.head())
print(data_tweet.shape)

             tweet_id           writer   post_date  \
0  550441509175443456  VisualStockRSRC  1420070457
1  550441672312512512      KeralaGuy77  1420070496
2  550441732014223360      DozenStocks  1420070510
3  550442977802207232     ShowDreamCar  1420070807
4  550443807834402816     i_Know_First  1420071005

                                                body  comment_num  \
0  lx21 made $10,008  on $AAPL -Check it out! htt...            0
1  Insanity of today weirdo massive selling. $aap...            0
2  S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...            0
3  $GM $TSLA: Volkswagen Pushes 2014 Record Recal...            0
4  Swing Trading: Up To 8.91% Return In 14 Days h...            0

   retweet_num  like_num
0            0         1
1            0         0
2            0         0
3            0         1
4            0         1
(3717964, 7)

In [7]:
dados_merge1 = pd.merge(data_company_tweet,data_company, on='ticker_symbol')
dados_merge1 = dados_merge1.drop(columns=['ticker_symbol'])
dados_merge1.head()

             tweet_id company_name
0  550803612197457920        apple
1  550803610825928706        apple
2  550803225113157632        apple
3  550802957370159104        apple
4  550802855129382912        apple

In [8]:
dados_tweet_company = pd.merge(dados_merge1,data_tweet,on='tweet_id')
dados_tweet_company = dados_tweet_company.drop(columns=['tweet_id'])
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1

## Ajustar os Dados

In [9]:
dados_tweet_company.post_date[0]

1420156789

In [10]:
ts_epoch = dados_tweet_company.post_date[0]
ts = datetime.datetime.fromtimestamp(ts_epoch).strftime('%Y-%m-%d %H:%M:%S')
ts

'2015-01-01 20:59:49'

In [11]:
def ajustar_tempo(row):
    ts_epoch = row['post_date']
    ts = datetime.datetime.fromtimestamp(ts_epoch).strftime('%Y-%m-%d %H:%M:%S')
    return ts  
new_date = dados_tweet_company.apply(ajustar_tempo,axis=1)
dados_tweet_company['Date'] = list(new_date)
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48

In [12]:
dados_tweet_company.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4336445 entries, 0 to 4336444
Data columns (total 8 columns):
company_name    object
writer          object
post_date       int64
body            object
comment_num     int64
retweet_num     int64
like_num        int64
Date            object
dtypes: int64(4), object(4)
memory usage: 297.8+ MB

In [58]:
sentenca = dados_tweet_company.body[0]
print(sentenca)

sentenca_2 = dados_tweet_company.body[100]
print(sentenca_2)

#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN $T $IGN $SPY $FB $UGAZ #sentiquant 20150101 19:00:08:298
Our Penny Stock Picks Gained Over 968% In the Past 5 Weeks! Get our next pick early: http://tinyurl.com/p46mnk2 $TRX $AAPL $GOOG

In [89]:
def replace_all(texto):
    palavras_especiais = [word for word in texto.split(' ') if word.startswith(('#','$','@'))]
    #print(palavras_especiais)
    sentenca = ' '.join(x for x in texto.split(' ') if x not in palavras_especiais)
    return sentenca

new_strings = dados_tweet_company.body.apply(replace_all)
dados_tweet_company['Processed_Tweet'] = list(new_strings)

In [88]:
dados_tweet_company

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date,Processed_Tweet
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526
5,apple,MacHashNews,1420156696,Rumor Roundup: What to expect when you're expe...,0,0,0,2015-01-01 20:58:16,Rumor Roundup: What to expect when you're expe...
6,apple,WaltLightShed,1420156633,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4,2015-01-01 20:57:13,"An store line in Sapporo Japan for the ""Lucky ..."
7,apple,2waystrading,1420156608,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0,2015-01-01 20:56:48,- Will Give Second entry opportunity? - https:...
8,apple,TV_TradingIdeas,1420156582,Will $AAPL Give Second entry opportunity? $AAP...,0,0,0,2015-01-01 20:56:22,Will Give Second entry opportunity? http://tra...
9,apple,Weeklyoptions,1420155330,We will book gains in half dozen picks tomorro...,0,0,1,2015-01-01 20:35:30,We will book gains in half dozen picks tomorro...
10,apple,Chasing__Stars,1420155278,"$HMCP Opinions Updated Thursday, January 1, 20...",0,0,0,2015-01-01 20:34:38,"Opinions Updated Thursday, January 1, 2015 5:4..."
11,apple,Chasing__Stars,1420155277,"$OPXS Company Info Updated Thursday, January 1...",0,0,0,2015-01-01 20:34:37,"Company Info Updated Thursday, January 1, 2015..."
12,apple,TJReazor,1420155121,If you need to catch up on your market researc...,0,0,0,2015-01-01 20:32:01,If you need to catch up on your market researc...
13,apple,GiveBack2011,1420154858,@MarketRealist and @YahooFinance team up on a ...,0,0,0,2015-01-01 20:27:38,@MarketRealist and @YahooFinance team up on a ...
14,apple,MacHashNews,1420154796,Grovemade's wooden accessories bring tech back...,0,0,0,2015-01-01 20:26:36,Grovemade's wooden accessories bring tech back...
15,apple,fjeddy,1420154775,“@complex: a look back to $AAPL 7 years ago. m...,0,0,0,2015-01-01 20:26:15,“@complex: a look back to 7 years ago. may 200...
16,apple,MarkDePompeo,1420154757,"""@CNBC: This is Wall Street's top pick in 2015...",0,0,0,2015-01-01 20:25:57,"""@CNBC: This is Wall Street's top pick in 2015..."
17,Google Inc,MarkDePompeo,1420154757,"""@CNBC: This is Wall Street's top pick in 2015...",0,0,0,2015-01-01 20:25:57,"""@CNBC: This is Wall Street's top pick in 2015..."
18,apple,ScoutingGW,1420154330,"#bluechips like $TSLA, $AAPL, $DIS, $TWTR & NV...",0,0,3,2015-01-01 20:18:50,like & NVO are great investments for your gran...
19,Tesla Inc,ScoutingGW,1420154330,"#bluechips like $TSLA, $AAPL, $DIS, $TWTR & NV...",0,0,3,2015-01-01 20:18:50,like & NVO are great investments for your gran...
20,apple,danshep55,1420154318,video going out . happy new year . talking $aa...,1,0,3,2015-01-01 20:18:38,video going out . happy new year . talking etc...
21,apple,rosnerstocks,1420154284,"$BABA Percent Change Updated Thursday, January...",0,0,1,2015-01-01 20:18:04,"Percent Change Updated Thursday, January 1, 20..."
22,apple,UnderGradStocks,1420154001,@TheStreet $AAPL by increasing the signs of th...,0,0,0,2015-01-01 20:13:21,@TheStreet by increasing the signs of their ph...
23,apple,Antny2013,1420153837,"“In 2014, for every Samsung device activated A...",0,0,0,2015-01-01 20:10:37,"“In 2014, for every Samsung device activated A..."
24,apple,marketstocknews,1420153644,"RT TheStreet: In 2014, for every Samsung devic...",0,0,0,2015-01-01 20:07:24,"RT TheStreet: In 2014, for every Samsung devic..."
25,apple,pennstatedan,1420153495,"In 2014, for every Samsung device activated Ap...",0,0,0,2015-01-01 20:04:55,"In 2014, for every Samsung device activated Ap..."
26,apple,ramlousl,1420151868,"""@CNBC: This is Wall Street's top pick in 2015...",0,0,0,2015-01-01 19:37:48,"""@CNBC: This is Wall Street's top pick in 2015..."
27,apple,itassessors,1420151788,"See how tech companies like Apple, Twitter and...",0,0,0,2015-01-01 19:36:28,"See how tech companies like Apple, Twitter and..."
28,apple,IHPosts2,1420151666,"$TUNG Percent Change Updated Thursday, January...",0,0,0,2015-01-01 19:34:26,"Percent Change Updated Thursday, January 1, 20..."
29,apple,IHPosts2,1420151666,"$NTEK Company Info Updated Thursday, January 1...",0,0,0,2015-01-01 19:34:26,"Company Info Updated Thursday, January 1, 2015..."
...,...,...,...,...,...,...,...,...,...
4336415,Tesla Inc,Path_Trading,1577830774,#TESLA : $TSLA Dec-31 Update #StockMarket Tech...,0,0,0,2019-12-31 19:19:34,: Dec-31 Update Technical Analysis ChartWatch ->
4336416,Tesla Inc,traderDanielle,1577830960,Finished my EOY review.Best setups:1. Short sq...,4,0,13,2019-12-31 19:22:40,Finished my EOY review.Best setups:1. Short sq...
4336417,Tesla Inc,NaN,1577831238,“Alpha male” Mike Cernovich is a bootlicker? W...,3,3,7,2019-12-31 19:27:18,“Alpha male” Mike Cernovich is a bootlicker? W...
4336418,Tesla Inc,wallstsolver,1577831495,Most Popular Stocks Roku Inc. Class A$ROKU » ...,0,0,0,2019-12-31 19:31:35,Most Popular Stocks Roku Inc. Class A$ROKU » ...
4336419,Tesla Inc,MelaynaLokosky,1577831560,"In 2016 14.6 million cars had USB ports; and, ...",0,0,7,2019-12-31 19:32:40,"In 2016 14.6 million cars had USB ports; and, ..."
4336420,Tesla Inc,sevencornerscap,1577831582,I've been short $TSLA (see relevant SA article...,0,0,0,2019-12-31 19:33:02,I've been short (see relevant SA articles) & I...
4336421,Tesla Inc,Ernolddd,1577831620,What a ride 2019 for $tsla. 420 a good way to ...,0,0,1,2019-12-31 19:33:40,What a ride 2019 for 420 a good way to show t...
4336422,Tesla Inc,ChrisSpelter,1577831783,... to be continued in 2020 mon ami $TSLA sti...,1,0,0,2019-12-31 19:36:23,... to be continued in 2020 mon ami still an ...
4336423,Tesla Inc,MelaynaLokosky,1577832576,I sure hope @TheJusticeDept subpoena @Twitter ...,0,2,4,2019-12-31 19:49:36,I sure hope @TheJusticeDept subpoena @Twitter ...
4336424,Tesla Inc,icapulet,1577832645,spot on about the $tsla cultists. fuuuuuuuuuck...,0,0,1,2019-12-31 19:50:45,spot on about the cultists. fuuuuuuuuuck those...
4336425,Tesla Inc,Zorkmid123,1577832664,New video alert! @elonmusk makes the bizarre c...,3,1,5,2019-12-31 19:51:04,New video alert! @elonmusk makes the bizarre c...
4336426,Tesla Inc,AjTrader7,1577832859,IN TODAY'S PRE-MARKET NOTES BEFORE THE OPEN FO...,0,0,1,2019-12-31 19:54:19,IN TODAY'S PRE-MARKET NOTES BEFORE THE OPEN FO...
4336427,Tesla Inc,AjTrader7,1577832917,IN TODAY'S PRE-MARKET NOTES BEFORE THE OPEN FO...,0,0,2,2019-12-31 19:55:17,IN TODAY'S PRE-MARKET NOTES BEFORE THE OPEN FO...
4336428,Tesla Inc,ShortingIsFun,1577832925,"But can you see the wires ""THEY"" are using to ...",0,0,3,2019-12-31 19:55:25,"But can you see the wires ""THEY"" are using to ..."
4336429,Tesla Inc,ShortingIsFun,1577832995,He thanks you for your sacrifice IF you paid i...,0,0,0,2019-12-31 19:56:35,He thanks you for your sacrifice IF you paid i...
4336430,Tesla Inc,DTLytics,1577833171,$TSLA it’s about to rip in 2020,1,0,0,2019-12-31 19:59:31,it’s about to rip in 2020
4336431,Tesla Inc,falafeldiaper1,1577833197,They need $TSLA futures,0,0,1,2019-12-31 19:59:57,They need futures
4336432,Tesla Inc,JulianBanks65,1577833243,The Russians are buying $TSLA right after the ...,0,0,4,2019-12-31 20:00:43,The Russians are buying right after the Saudis
4336433,Tesla Inc,decampkev,1577834703,Most bulls understand that quite well. In fact...,1,0,3,2019-12-31 20:25:03,Most bulls understand that quite well. In fact...
4336434,Tesla Inc,Tesla_S3XYCARS,1577834789,Happy & Electrifying New Year to all my $TSLA ...,0,0,1,2019-12-31 20:26:29,Happy & Electrifying New Year to all my LongsM...
4336435,Tesla Inc,Commuternyc,1577834968,Oh that is why Tesla is SO SO profitable! That...,2,0,1,2019-12-31 20:29:28,Oh that is why Tesla is SO SO profitable! That...
4336436,Tesla Inc,Commuternyc,1577835048,Nah This will be a trip! Especially without a ...,0,0,3,2019-12-31 20:30:48,Nah This will be a trip! Especially without a ...
4336437,Tesla Inc,Commuternyc,1577835161,@jimcramer recommends Seniors buy $tsla lol $...,0,0,1,2019-12-31 20:32:41,@jimcramer recommends Seniors buy lol
4336438,Tesla Inc,QContrarian,1577835470,look at #tesla registrations in Netherlands f...,2,1,0,2019-12-31 20:37:50,look at registrations in Netherlands for Mode...
4336439,Tesla Inc,tanthallas,1577835595,Current Affairs presents to you for the first ...,0,0,0,2019-12-31 20:39:55,Current Affairs presents to you for the first ...
4336440,Tesla Inc,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0,2019-12-31 20:49:06,"I'm getting wasted on NYE, and thanks to @NHTS..."
4336441,Tesla Inc,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0,2019-12-31 20:50:24,Very Interesting dude:
4336442,Tesla Inc,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0,2019-12-31 20:50:45,If only 2020 brought more self-awareness to Te...
4336443,Tesla Inc,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,2019-12-31 20:53:21,In 2020 I may start Tweeting out positive news...
4336444,Tesla Inc,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,2019-12-31 20:54:03,Patiently Waiting for the no twitter sitter tw...

In [106]:

from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
sid.polarity_scores(dados_tweet_company.body[4336442])

{'neg': 0.226, 'neu': 0.774, 'pos': 0.0, 'compound': -0.5859}

In [112]:
dados_tweet_company['Scores'] = dados_tweet_company.Processed_Tweet.apply(lambda x: sid.polarity_scores(x))

In [113]:
dados_tweet_company.head()

,company_name,writer,post_date,body,comment_num,retweet_num,like_num,Date,Processed_Tweet,Scores
0,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,Amazon.com,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,2015-01-01 20:59:49,20150101 19:00:08:298,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,Google Inc,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,Amazon.com,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,2015-01-01 20:59:48,20150101 19:00:04:526,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [33]:
# função para das um score ao tweet usando num de likes , comentarios e retweets
def score():
    score = 0
    return score

# função para criar labels de sentimento a partir do score
def label():
    # 0 neutro | 1 positivo | -1 negative
    label = 0
    return label

0      3744054
1       392542
2        98735
3        37450
4        18658
5        11164
6         7299
7         5185
8         3695
9         2774
10        2137
11        1738
12        1423
13        1212
14         973
15         864
16         673
17         611
18         521
19         451
20         375
22         344
21         335
23         259
25         226
24         221
26         184
27         162
28         162
30         126
        ...
112          1
75           1
120          1
122          1
123          1
125          1
126          1
128          1
131          1
133          1
134          1
135          1
142          1
144          1
194          1
147          1
148          1
149          1
151          1
154          1
157          1
160          1
163          1
164          1
165          1
167          1
168          1
184          1
193          1
631          1
Name: comment_num, Length: 191, dtype: int64

In [17]:
#def post_tokenizer(row)
#    new_post = word_tokenize(row['body'])
#    return new_post
#dados_tweet_company['post_tokenized'] = list(dados_tweet_company.apply(post_tokenizer))

In [18]:
#def remove_stopwords(row):
#    stopwords = nltk.corpus.stopwords.words('english')
#    output = [word for word in row['post_tokenized'][0] if word not in stopwords]
#    return output
#dados_tweet_company['post_removed_stopwords'] = list(dados_tweet_company.apply(remove_stopwords))